/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Base Styles */
body {

    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    font-style: normal;
    text-underline-offset: 4px;
}

p {
    font-style: normal;
}

/* Header Styles */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column: 3;
    font-size: 18px;
    margin-top: 92px;
}

.nav {
    align-self: center;
    
}

.menu {
    display: grid;
    grid-auto-flow: column;
    list-style: circle;
    
}


.logo {
    grid-column-start: 2;
    justify-self: center;
}

.address {
    grid-column-start: 3;
    justify-self: end;
    align-self: center;
}

.phone-number,
.e-mail {
    display: block;
}

.add {
    width: 240px;
    margin: 0;
}

/* Cover Styles */
.cover {
    display: grid;
    grid-row: 4;
    grid-columns: 1;
    position: relative;
    color: white;
    width: auto;
    height: 757px;
    margin-top: 96px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/flowers.jpeg");
    background-size: cover;
    padding: 0 50px 0 50px;
    margin-bottom: 180px;
    margin-left:0px;
}


span{
    letter-spacing: 60px;
}

.p_left{
    grid-row-start: 1;
    justify-self: start;
    letter-spacing: 30px;
    font-size: 100px;
    font-weight: 700;
    margin: 0px;
    padding-top: 150px;
    display: inline-block;
    height: 20px;
}
.p_center{
    grid-row-start: 2;
    justify-self: center;
    letter-spacing: 30px;
    font-size: 100px;
    font-weight: 700;
    margin: 0px;
    display: inline-block;
    height: 20px;
}
.p_right{
    grid-row-start: 3;
    justify-self: end;
    letter-spacing: 30px;
    font-size: 100px;
    font-weight: 700;
    margin: 0px;
    display: inline-block;
    height: 20px;
}
.o{
    letter-spacing: 0px;
}
.buttom{
    display: grid;
    grid-template-columns: 1fr auto;    
    height: 0px;
    margin: 130px 0 0 0;
}
.expression{
    text-align: end;
    word-spacing: 18px;
    font-size: 22px;
    text-transform: uppercase;
    margin-right: 85px;

}
button{
    justify-self: end;
    align-self: center;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    width: 260px;
    height: 50px;

}

.lots{
    display: grid;
    grid-column: 3;
    grid-area: ".lots_cinema .lots_book .lots_pictures";
    column-gap: 20px;
    color: white;
    margin: 0 50px 0 50px ;

}
.lots_name{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-top: 0px;
    margin-left: 50px;

}
.lots_cinema{
    grid-column-start: 1;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(img/cinema.png);
    padding: 50px 40px 50px 40px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.lots_book{
    grid-column-start: 2;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(img/book.jpg);
    padding: 50px 40px 50px 40px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.lots_pictures{
    grid-column-start: 3;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(img/pictures.png);
    padding: 50px 40px 50px 40px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.lots_cinema__head, .lots_book__head, .lots_pictures__head{
    font-size: 22px;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-top: 0px;
    
}
.lots_cinema__main, .lots_book__main, .lots_pictures__main{
    font-size: 20px;
    font-weight: 400;
    margin-top: auto;
}
.lots_more{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    margin-top:30px;
    margin-bottom: 182px;
}
.about{
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: 1fr 1fr;
    margin: 0 50px 180px 50px;
}
.about_logo{
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 95px 0 95px;
    align-self: center;
}
.about_header{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    margin-left: 25px;
}
.about_paragraph{
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;
    font-weight: 400;
    margin-left: 25px;
}
.about_paragraph_first{
    margin: 0 0 25px 0;
}
.about_paragraph_second{
    margin: 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0 50px 90px 50px;
    grid-column-start: 1;
    justify-self: start;
    font-size: 18px;
}
.footer_menu{
    grid-column-start: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.footer_socials{
    grid-column-start: 3;
    justify-self: end;
}
.youtube, .vk{
    margin-right: 48px;
}
